<div class="row mb-3 mt-3">
  <div class="col-md-12 mt-3">
    <h1>General</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Collapse</h2>
        <p class="card-subtitle text-muted">Powered by <a href="https://ng-bootstrap.github.io" target="_blank">ng-bootstrap</a></p>
      </div>
      <div class="card-block">
        <div [ngbCollapse]="isCollapsed">
          <div class="card">
            <div class="card-block">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et sagittis dolor, vel vulputate nibh. Mauris purus odio, posuere at feugiat id, sagittis a mauris.
            </div>
          </div>
        </div>
        <footer>
          <hr/>
          <button class="btn btn-sm btn-outline-primary" (click)="isCollapsed = !isCollapsed">Toggle</button>
        </footer>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Dropdown</h2>
        <p class="card-subtitle text-muted">Powered by <a href="https://ng-bootstrap.github.io" target="_blank">ng-bootstrap</a></p>
      </div>
      <div class="card-block">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Dropdown</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <button class="dropdown-item">Link 1</button>
            <button class="dropdown-item">Link 2</button>
            <button class="dropdown-item">Link 3</button>
          </div>
        </div>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownMenu2" ngbDropdownToggle>Dropdown Right</button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item">Link 1</button>
            <button class="dropdown-item">Link 2</button>
            <button class="dropdown-item">Link 3</button>
          </div>
        </div>
        <div ngbDropdown [up]="true" class="d-inline-block" #dropdownMenu3="ngbDropdown">
          <button class="btn btn-outline-primary" ngbDropdownToggle>Dropup</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
            <button class="dropdown-item">Link 1</button>
            <button class="dropdown-item">Link 2</button>
            <button class="dropdown-item">Link 3</button>
          </div>
        </div>
        <footer>
          <hr/>
          <button class="btn btn-sm btn-outline-primary" (click)="$event.stopPropagation(); dropdownMenu3.open();">Open last</button>
          <button class="btn btn-sm btn-outline-primary" (click)="$event.stopPropagation(); dropdownMenu3.close();">Close last</button>
          <button class="btn btn-sm btn-outline-primary" (click)="$event.stopPropagation(); dropdownMenu3.toggle();">Toggle last</button>
        </footer>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Basic Datepicker</h2>
        <p class="card-subtitle text-muted">Powered by <a href="https://ng-bootstrap.github.io" target="_blank">ng-bootstrap</a></p>
      </div>
      <div class="card-block">
        <ngb-datepicker #dp [(ngModel)]="dpModel" [disabled]="dpDisabled"></ngb-datepicker>
        <footer>
          <hr/>
          <button class="btn btn-sm btn-outline-primary" (click)="selectToday()">Pick today</button>
          <button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo()">Current month</button>
          <button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo({year: 2013, month: 6})">June 2013</button>
          <button class="btn btn-sm btn-outline-{{dpDisabled ? 'success' : 'danger'}}" (click)="dpDisabled = !dpDisabled">
            {{ dpDisabled ? "Enable" : "Disable" }} Calendar
          </button>
          <p class="mt-2 info" *ngIf="dpModel!=undefined">Selected date is: {{dpModel | json}}</p>
        </footer>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Input Datepicker</h2>
        <p class="card-subtitle text-muted">Powered by <a href="https://ng-bootstrap.github.io" target="_blank">ng-bootstrap</a></p>
      </div>
      <div class="card-block">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="idp" [(ngModel)]="idpModel" ngbDatepicker #idp="ngbDatepicker">
              <div class="input-group-addon" (click)="idp.toggle()" >
                <span style="width: 1.2rem; height: 1rem; cursor: pointer;">&#10064;</span>
              </div>
            </div>
          </div>
        </form>
        <hr/>
        <footer>
          <p class="mt-2 info" *ngIf="idpModel!=undefined">Selected date is: {{idpModel | json}}</p>
        </footer>
      </div>
    </div>
  </div>
</div>
