<div class="row mb-3 mt-3">
  <div class="col-md-12 mt-3">
    <h1>General</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <a (click)="cardCollapsed['progress_bars'] = !cardCollapsed['progress_bars']" class="text-muted card-collapse"><fa [name]="cardCollapsed['progress_bars']?'plus-circle':'minus-circle'" class="pull-right"></fa></a>
        <h2 class="card-title">Progress Bars</h2>
        <p class="card-subtitle text-muted">Powered by <a href="https://ng-bootstrap.github.io" target="_blank">ng-bootstrap</a></p>
      </div>
      <div class="card-block" [ngbCollapse]="cardCollapsed['progress_bars']">
        <h4>Simple</h4>
        <span class="small text-muted">Success</span>
        <ngb-progressbar type="success" [value]="25"></ngb-progressbar>
        <span class="small text-muted">Info</span>
        <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
        <span class="small text-muted">Warning</span>
        <ngb-progressbar type="warning" [value]="75"></ngb-progressbar>
        <span class="small text-muted">Danger</span>
        <ngb-progressbar type="danger" [value]="100"></ngb-progressbar>
        <hr/>
        <h4>Striped</h4>
        <span class="small text-muted">Success</span>
        <ngb-progressbar type="success" [value]="25" [striped]="true"></ngb-progressbar>
        <span class="small text-muted">Info</span>
        <ngb-progressbar type="info" [value]="50" [striped]="true"></ngb-progressbar>
        <span class="small text-muted">Warning</span>
        <ngb-progressbar type="warning" [value]="75" [striped]="true"></ngb-progressbar>
        <span class="small text-muted">Danger</span>
        <ngb-progressbar type="danger" [value]="100" [striped]="true"></ngb-progressbar>
        <hr/>
        <h4>Striped, animated</h4>
        <ngb-progressbar type="success" [value]="25" [striped]="true" [animated]="true"></ngb-progressbar>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a (click)="cardCollapsed['collapse'] = !cardCollapsed['collapse']" class="text-muted card-collapse"><fa [name]="cardCollapsed['collapse']?'plus-circle':'minus-circle'" class="pull-right"></fa></a>
        <h2 class="card-title">Collapse</h2>
        <p class="card-subtitle text-muted">Powered by <a href="https://ng-bootstrap.github.io" target="_blank">ng-bootstrap</a></p>
      </div>
      <div class="card-block" [ngbCollapse]="cardCollapsed['collapse']">
        <div [ngbCollapse]="isCollapsed">
          <div class="card">
            <div class="card-block">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et sagittis dolor, vel vulputate nibh. Mauris purus odio, posuere at feugiat id, sagittis a mauris.
            </div>
          </div>
        </div>
        <footer>
          <hr/>
          <button class="btn btn-sm btn-outline-primary" (click)="isCollapsed = !isCollapsed">Toggle</button>
        </footer>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <a (click)="cardCollapsed['ratings'] = !cardCollapsed['ratings']" class="text-muted card-collapse"><fa [name]="cardCollapsed['ratings']?'plus-circle':'minus-circle'" class="pull-right"></fa></a>
        <h2 class="card-title">Ratings</h2>
        <p class="card-subtitle text-muted">Powered by <a href="https://ng-bootstrap.github.io" target="_blank">ng-bootstrap</a></p>
      </div>
      <div class="card-block" [ngbCollapse]="cardCollapsed['ratings']">
        <h4>Simple</h4>
        <ngb-rating [(rate)]="simpleRate"></ngb-rating><span class="ml-2 text-muted small" *ngIf="simpleRate!=null">You've rated: <b>{{simpleRate}}</b></span>
        <hr>
        <h4>Readonly</h4>
        <ngb-rating [rate]="8" [readonly]="readonly"></ngb-rating>
        <button class="btn btn-sm btn-outline-primary ml-2" (click)="readonly = !readonly">Toggle readonly</button>
        <hr>
        <h4>With events</h4>
        <ngb-rating [(rate)]="eventsRate" (hover)="eventsHovered=$event" (leave)="eventsHovered=null"></ngb-rating>
        <span class="ml-2 text-muted small" *ngIf="eventsHovered!=null">You're hovering: <b>{{eventsHovered}}</b></span>
        <span class="ml-2 text-muted small" *ngIf="eventsRate!=null">You've rated: <b>{{eventsRate}}</b></span>
        <hr>
        <h4>Custom star template</h4>
        <ngb-rating [(rate)]="cstarRate">
          <template let-fill="fill">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </template>
        </ngb-rating>
        <span class="ml-2 text-muted small" *ngIf="cstarRate!=null">You've rated: <b>{{cstarRate}}</b></span>
        <hr>
        <footer>
        </footer>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a (click)="cardCollapsed['dropdowns'] = !cardCollapsed['dropdowns']" class="text-muted card-collapse"><fa [name]="cardCollapsed['dropdowns']?'plus-circle':'minus-circle'" class="pull-right"></fa></a>
        <h2 class="card-title">Dropdowns</h2>
        <p class="card-subtitle text-muted">Powered by <a href="https://ng-bootstrap.github.io" target="_blank">ng-bootstrap</a></p>
      </div>
      <div class="card-block" [ngbCollapse]="cardCollapsed['dropdowns']">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Dropdown</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <button class="dropdown-item">Link 1</button>
            <button class="dropdown-item">Link 2</button>
            <button class="dropdown-item">Link 3</button>
          </div>
        </div>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownMenu2" ngbDropdownToggle>Dropdown Right</button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item">Link 1</button>
            <button class="dropdown-item">Link 2</button>
            <button class="dropdown-item">Link 3</button>
          </div>
        </div>
        <div ngbDropdown [up]="true" class="d-inline-block" #dropdownMenu3="ngbDropdown">
          <button class="btn btn-outline-primary" ngbDropdownToggle>Dropup</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
            <button class="dropdown-item">Link 1</button>
            <button class="dropdown-item">Link 2</button>
            <button class="dropdown-item">Link 3</button>
          </div>
        </div>
        <footer>
          <hr/>
          <button class="btn btn-sm btn-outline-primary" (click)="$event.stopPropagation(); dropdownMenu3.open();">Open last</button>
          <button class="btn btn-sm btn-outline-primary" (click)="$event.stopPropagation(); dropdownMenu3.close();">Close last</button>
          <button class="btn btn-sm btn-outline-primary" (click)="$event.stopPropagation(); dropdownMenu3.toggle();">Toggle last</button>
        </footer>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a (click)="cardCollapsed['basic_datepicker'] = !cardCollapsed['basic_datepicker']" class="text-muted card-collapse"><fa [name]="cardCollapsed['basic_datepicker']?'plus-circle':'minus-circle'" class="pull-right"></fa></a>
        <h2 class="card-title">Basic Datepicker</h2>
        <p class="card-subtitle text-muted">Powered by <a href="https://ng-bootstrap.github.io" target="_blank">ng-bootstrap</a></p>
      </div>
      <div class="card-block" [ngbCollapse]="cardCollapsed['basic_datepicker']">
        <ngb-datepicker #dp [(ngModel)]="dpModel" [disabled]="dpDisabled"></ngb-datepicker>
        <footer>
          <hr/>
          <button class="btn btn-sm btn-outline-primary" (click)="selectToday()">Pick today</button>
          <button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo()">Current month</button>
          <button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo({year: 2013, month: 6})">June 2013</button>
          <button class="btn btn-sm btn-outline-{{dpDisabled ? 'success' : 'danger'}}" (click)="dpDisabled = !dpDisabled">
            {{ dpDisabled ? "Enable" : "Disable" }} Calendar
          </button>
          <p class="mt-2 info" *ngIf="dpModel!=undefined">Selected date is: {{dpModel | json}}</p>
        </footer>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a (click)="cardCollapsed['input_datepicker'] = !cardCollapsed['input_datepicker']" class="text-muted card-collapse"><fa [name]="cardCollapsed['input_datepicker']?'plus-circle':'minus-circle'" class="pull-right"></fa></a>
        <h2 class="card-title">Input Datepicker</h2>
        <p class="card-subtitle text-muted">Powered by <a href="https://ng-bootstrap.github.io" target="_blank">ng-bootstrap</a></p>
      </div>
      <div class="card-block" [ngbCollapse]="cardCollapsed['input_datepicker']">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="idp" [(ngModel)]="idpModel" ngbDatepicker #idp="ngbDatepicker">
              <div class="input-group-addon" (click)="idp.toggle()" >
                <span style="width: 1.2rem; height: 1rem; cursor: pointer;"><fa [name]="'calendar'"></fa></span>
              </div>
            </div>
          </div>
        </form>
        <hr/>
        <footer>
          <p class="mt-2 info" *ngIf="idpModel!=undefined">Selected date is: {{idpModel | json}}</p>
        </footer>
      </div>
    </div>
  </div>
</div>
