<div class="row mb-3 mt-3">
  <div class="col-md-12 mt-3">
    <h1>Navigation & Accordions</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li class="breadcrumb-item">UI</li>
      <li class="breadcrumb-item active">Navigation & Accordions</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card" id="accordions">
      <div class="card-header">
        <a (click)="cardCollapsed['accordion'] = !cardCollapsed['accordion']" class="text-muted card-collapse"><fa [name]="cardCollapsed['accordion']?'plus-circle':'minus-circle'" class="pull-right"></fa></a>
        <h2 class="card-title">Accordions</h2>
        <p class="card-subtitle text-muted">Powered by <a href="https://ng-bootstrap.github.io" target="_blank">ng-bootstrap</a></p>
      </div>
      <div class="card-block" [ngbCollapse]="cardCollapsed['accordion']">
        <ngb-accordion #acc="ngbAccordion" activeIds="1,2">
         <ngb-panel *ngFor="let panel of accordionPanels;" id="{{panel.id}}" type="{{panel.type}}" disabled="{{panel.disabled}}">
           <template ngbPanelTitle>
             <span [innerHTML]="panel.title"></span>
           </template>
           <template ngbPanelContent>
             {{panel.content}}
           </template>
         </ngb-panel>
        </ngb-accordion>
        <footer>
          <hr/>
          <button class="btn btn-sm btn-outline-primary" (click)="acc.toggle('0')">Toggle first</button>
          <button class="btn btn-sm btn-outline-primary" (click)="acc.toggle('1')">Toggle second</button>
        </footer>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" id="tab_navigation">
      <div class="card-header">
        <a (click)="cardCollapsed['tab_navigation'] = !cardCollapsed['tab_navigation']" class="text-muted card-collapse"><fa [name]="cardCollapsed['tab_navigation']?'plus-circle':'minus-circle'" class="pull-right"></fa></a>
        <h2 class="card-title">Tab Navigation</h2>
        <p class="card-subtitle text-muted">Powered by <a href="https://ng-bootstrap.github.io" target="_blank">ng-bootstrap</a></p>
      </div>
      <div class="card-block" [ngbCollapse]="cardCollapsed['tab_navigation']">
        <ngb-tabset #tp="ngbTabset">
          <ngb-tab *ngFor="let tab of tabset;" id="{{tab.id}}" disabled="{{tab.disabled}}">
            <template ngbTabTitle><span [innerHTML]="tab.title"></span></template>
            <template ngbTabContent><div [innerHTML]="tab.content"></div></template>
          </ngb-tab>
        </ngb-tabset>
        <footer>
          <hr/>
          <button class="btn btn-sm btn-outline-primary" (click)="tp.select('0')">Select first</button>
        </footer>
      </div>
    </div>
    <div class="card" id="pills_navigation">
      <div class="card-header">
        <a (click)="cardCollapsed['pills_navigation'] = !cardCollapsed['pills_navigation']" class="text-muted card-collapse"><fa [name]="cardCollapsed['pills_navigation']?'plus-circle':'minus-circle'" class="pull-right"></fa></a>
        <h2 class="card-title">Pills Navigation</h2>
        <p class="card-subtitle text-muted">Powered by <a href="https://ng-bootstrap.github.io" target="_blank">ng-bootstrap</a></p>
      </div>
      <div class="card-block" [ngbCollapse]="cardCollapsed['pills_navigation']">
        <ngb-tabset type="pills" #ts="ngbTabset">
          <ngb-tab *ngFor="let tab of tabset;" id="{{tab.id}}" disabled="{{tab.disabled}}">
            <template ngbTabTitle><span [innerHTML]="tab.title"></span></template>
            <template ngbTabContent><div [innerHTML]="tab.content"></div></template>
          </ngb-tab>
        </ngb-tabset>
        <footer>
          <hr/>
          <button class="btn btn-sm btn-outline-primary" (click)="ts.select('0')">Select first</button>
        </footer>
      </div>
    </div>
  </div>
</div>
