<div class="row mb-3 mt-3">
  <div class="col-md-12 mt-3">
    <h1>Google Maps</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <a (click)="cardCollapsed['google_map'] = !cardCollapsed['google_map']" class="text-muted card-collapse"><fa [name]="cardCollapsed['google_map']?'plus-circle':'minus-circle'" class="pull-right"></fa></a>
        <h2 class="card-title">Google Map</h2>
        <p class="card-subtitle text-muted">Powered by <a href="https://github.com/SebastianM/angular2-google-maps" target="_blank">angular2-google-maps</a></p>
      </div>
      <div class="card-block" [ngbCollapse]="cardCollapsed['google_map']">
        <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
          <sebm-google-map-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
            <sebm-google-map-info-window>
              <strong>More info here</strong>
            </sebm-google-map-info-window>
          </sebm-google-map-marker>
          <sebm-google-map-circle [latitude]="lat + 0.1" [longitude]="lng"
              [radius]="5000"
              [fillColor]="'red'"
              [circleDraggable]="true"
              [editable]="true">
          </sebm-google-map-circle>
        </sebm-google-map>
        <footer>
          <hr/>
          <p>Check the browser console for some interesting messages.</p>
        </footer>
      </div>
    </div>
  </div>
</div>
