<header>
  <nav class="navbar navbar-full navbar-fixed-top navbar-light bg-faded mb-3">
    <a class="navbar-brand" [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">{{title}}</a>

    <button [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="btn btn-outline-primary">Home</button>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" [class.active]="currentPath.indexOf('ui') !== -1" id="dropdownMenuUI" ngbDropdownToggle>UI</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuUI">
        <a [routerLink]="['/ui/general']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="dropdown-item">General</a>
        <a [routerLink]="['/ui/navs']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="dropdown-item">Navigation & Accordions</a>
        <a [routerLink]="['/ui/btns']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="dropdown-item">Buttons & Icons</a>
      </div>
    </div>


  </nav>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="bd-footer text-muted">
  <div class="container"></div>
</footer>
